@using PagedList.Mvc
@model PagedList.IPagedList<Inview.Epi.EpiFund.Domain.ViewModel.InsuranceCompanyUserViewModel>
@{
    int i = 0;
}
<div class="panel panel-default" style="border: 1px solid #B1A795;">
    <div class="panel-heading">
        <span style="font-weight: bold;">@Model.TotalItemCount result(s) found</span>
    </div>
    <div class="overflow short-xs">
        <table class="table table-striped" id="tbUsers" cellpadding="5" cellspacing="5" style="font-size: 10px !important; padding: 5px; vertical-align: middle;">
            <thead>
                <tr>
                    <td>
                        <b>First Name</b>
                    </td>
                    <td>
                        <b>Last Name</b>
                    </td>
                    <td>
                        <b>Email</b>
                    </td>
                    <td><b>Phone Number</b>
                    </td>
                    <td><b>Is Active</b>
                    </td>
                    <td colspan="3"></td>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in @Model)
                {
                   
                    <tr id="@item.InsuranceCompanyUserId">
                        <td>
                        @item.FirstName
                        <td>
                            @item.LastName
                        </td>
                        <td>
                            @item.Email
                        </td>
                        <td>
                            @item.PhoneNumber
                        </td>

                        @{
                    if (@item.IsActive)
                    {
                            <td>Yes
                            </td>
                    }
                    else
                    {
                            <td>No
                            </td>
                    }
                        }

                        <td style="text-align: center;">
                            <a href="@Url.Action("InviteInsuranceCompanyUser", "Insurance", new { id = @item.InsuranceCompanyUserId })" title="Re-send Invite">
                                <span class="glyphicon glyphicon-envelope"></span></a>
                        </td>

                        <td style="text-align: center;">
                            <a href="@Url.Action("EditInsuranceCompanyUser", "Insurance", new { id = @item.InsuranceCompanyUserId })" title="edit" >
                                <span class="glyphicon glyphicon-pencil"></span></a>
                        </td>
                        @{
                    if (@item.IsActive)
                    {
                            <span>&nbsp;</span>
                    }
                    else
                    {
                            <td>
                                <a href="@Url.Action("ActivateInsuranceUser", "Insurance", new { id = @item.InsuranceCompanyUserId })" title="activate" onclick = "return confirm('Are you sure you wish to activate this user?');">
                                    <span class="glyphicon glyphicon-ok"></span></a>
                            </td>
                            
                    }
                        }

                    </tr>
                    i++;
                }
            </tbody>
        </table>
    </div>
</div>
<br />
Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) of @Model.PageCount

@Html.PagedListPager(Model, page => Url.Action("UserManagement",
    new { page, sortOrder = ViewBag.CurrentSort, currentFilter = ViewBag.CurrentFilter }))

<script>
    function verify(i) {
        if (confirm("Are you sure you wish to reject this IC Admin's application?")) {
            $('.postLink-' + i).hide();
            return true;
        }
        else {
            return false;
        }
    }
</script>
