@using PagedList.Mvc
@model PagedList.IPagedList<Inview.Epi.EpiFund.Domain.ViewModel.InsuranceCompanyViewModel>
@{
    int i = 0;
}
<div class="panel panel-default" style="border: 1px solid #B1A795;">
    <div class="panel-heading">
        <span style="font-weight: bold;">@Model.TotalItemCount result(s) found</span>
    </div>

    <div class="overflow short-xs">
        <table class="table table-striped" id="tbUsers" cellpadding="5" cellspacing="5" style="font-size: 10px !important; padding: 5px; vertical-align: middle;">
            <thead>
                <tr>

                    <td>
                        <b><a style="cursor: pointer" onclick="postForm('@ViewBag.InsuranceCompanyName')">Insurance Company Name</a></b>
                    </td>
                    <td>
                        <b><a style="cursor: pointer" onclick="postForm('@ViewBag.Website')">Website</a></b>
                    </td>
                    <td><b><a style="cursor: pointer" onclick="postForm('@ViewBag.CreateDate')">Create Date</a></b>
                    </td>
                    <td><b>Is Active?</b>
                    </td>
                    <td colspan="4"></td>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in @Model)
                {

                    <tr id="@item.InsuranceCompanyId">
                        <td>
                            @item.CompanyName
                        </td>

                        <td>
                            @item.CompanyURL
                        </td>
                        <td>
                            @item.CreateDate.ToString("MM/dd/yyyy")
                        </td>
                        @{
                            if (@item.IsActive)
                            {
                            <td>Yes
                            </td>
                            }
                            else
                            {
                            <td>No
                            </td>
                            }
                        }
                        <td style="text-align: center;">
                            <a href="@Url.Action("EditInsuranceCompany", "Insurance", new { id = @item.InsuranceCompanyId })" title="Edit" >
                                <span class="glyphicon glyphicon-pencil"></span></a>
                        </td>
                        <td>
                            <a href="@Url.Action("ManageInsuranceCompanyUsers", "Insurance", new { id = @item.InsuranceCompanyId })" title="Manage Users">
                                <span class="glyphicon glyphicon-user"></span></a>
                        </td>
                        @{
                            if (@item.IsActive)
                            {
                            <td>
                                &nbsp;
                            </td>
                            }
                            else
                            {
                            <td>
                                <a href="@Url.Action("ActivateInsuranceCompany", "Insurance", new { id = @item.InsuranceCompanyId })" title="Activate" onclick = "return confirm('Are you sure you wish to activate this Insurance Company?');">
                                    <span class="glyphicon glyphicon-ok"></span></a>
                            </td>
                            }
                        }

                    </tr>
                            i++;
                }
            </tbody>
        </table>


    </div>
</div>
<br />
Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) of @Model.PageCount

@Html.PagedListPager(Model, page => Url.Action("UserManagement",
    new { page, sortOrder = ViewBag.CurrentSort, currentFilter = ViewBag.CurrentFilter }))

<script>
  
</script>
