@using PagedList.Mvc
@model Inview.Epi.EpiFund.Web.Models.InsuranceCompanySearchResultsModel
@{
    ViewBag.Title = "Manage Insurance Companies";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}
<h3 class="page-header">Manage Insurance Companies</h3>
    <div class="row">
        <div class="col-lg-12">
            <input type="button" class="btn btn-primary" value="Create New Insurance Company" onclick="location.href='@Url.Action("CreateInsuranceCompany", "Insurance")    '" />
        </div>
    </div>
    <div style="float: right;">
        <select id="ddlRowCount" onchange="changeRowCount('@Url.Action("ManageInsuranceCompanies", "Insurance")')">
            <option value="25">25</option>
            <option value="50" selected="selected">50</option>
            <option value="75">75</option>
            <option value="100">100</option>
        </select>
    </div>
    <br />
    <br />
@using (Html.BeginForm("ManageInsuranceCompanies", "Insurance", FormMethod.Post, new { @id = "searchForm" }))
{
    <div class="panel-group" id="accordion">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h4 class="panel-title">
                    <a data-toggle="collapse" data-parent="#accordion" href="#searchbox">
                        <button class="btn btn-default btn-xs" style="border: 1px solid #888">
                            Search Insurance Companies
                        </button>
                    </a>
                </h4>
            </div>
            <div id="searchbox" class="panel-collapse collapse">
                <div class="panel-body">
                    <div class="row">
                        <div class="col-lg-3">
                            <div class="input-group">
                                @Html.LabelFor(s => s.InsuranceCompanyName)
                            </div>
                        </div>
                        <div class="col-lg-3">
                            <div class="input-group">
                                @Html.TextBoxFor(s => s.InsuranceCompanyName)
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-12 text-center">
                            @Html.HiddenFor(model => Model.Page)
                            @Html.HiddenFor(model => Model.SortOrder)
                            @Html.HiddenFor(model => Model.RowCount)
                            <input type="submit" value="Search" class="btn btn-primary proceed" style="width: 200px; margin-top: 20px" onclick="clearSearchValues()" />
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
}
<br />
@{ Html.RenderPartial("_InsuranceCompanyListView", Model.Companies); }
<br />

<script>
    $(function () {
        $(".datepicker").datepicker();
    });
    $('.pagination li a').click(function () {
        var href = $(this).attr('href');
        if (typeof href !== typeof undefined && href !== false) {
            var page = parseInt(getPageNumber(href));
            $('#Page').val(page);
            $('#searchForm').submit();
            return false;
        }
    });
    function postForm(order) {
        $('#SortOrder').val(order);
        $('#searchForm').submit();
        return false;
    }
    function changeResults() {
        $('#RowCount').val($('#ddlRowCount').val());
        $('#searchForm').submit();
    }
</script>