@using PagedList.Mvc
@model PagedList.IPagedList<Inview.Epi.EpiFund.Domain.ViewModel.UserQuickViewModel>
@{
    int i = 0;
}
<div class="panel panel-default" style="border: 1px solid #B1A795;">
    <div class="panel-heading">
        <span style="font-weight: bold;">@Model.TotalItemCount result(s) found</span>
    </div>
    <div class="overflow short-xs">
        <table class="table table-striped" id="tbUsers" cellpadding="5" cellspacing="5" style="font-size: 10px !important; padding: 5px; vertical-align: middle;">
            <thead>
                <tr>
                    <td>
                        <b>Name</b>
                    </td>
                    <td>
                        <b><a style="cursor: pointer" onclick="postForm('@ViewBag.TypeSortParm')">User Type</a></b>
                    </td>
                    <td>
                        <b><a style="cursor: pointer" onclick="postForm('@ViewBag.CitySortParm')">City</a></b>
                    </td>
                    <td>
                        <b><a style="cursor: pointer" onclick="postForm('@ViewBag.StateSortParm')">State</a></b>
                    </td>
                    <td>Date of Register
                    </td>
                    <td>NCND
                    </td>
                    @*<td>
                        ICAs
                    </td>*@
                    <td>
                        # Pending Assets
                    </td>
                    <td>
                        Total Assets
                    </td>
                    <td>
                        Assets Last 30
                    </td>
                    <td>
                        SSS/TIN
                    </td>
                    @*<td>
                        Types of Licenses
                    </td>
                    <td>
                        Operating License #'s
                    </td>*@
                    <td>
                        Operating Licenses
                    </td>
                    <td colspan="4">Site Manage</td>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in @Model)
                {
                    
                    <tr id="@item.UserId">
                        <td>
                            @item.FullName
                        </td>
                        @*<td style="width: 200px;">
                            @item.LastName
                        </td>*@
                        <td>
                            @item.UserTypeString
                        </td>
                        <td>
                            @item.City
                        </td>
                        <td>
                            @item.State
                        </td>
                        <td>
                            @item.RegisterDate.ToString("MM/dd/yyyy")
                        </td>
                        <td>
                             @if (item.HasNCND)
                            {
                                <a href="@Url.Action("DownloadNCND", "Records", new { id = @item.UserId })"><span class="glyphicon glyphicon-ok"></span></a>
                            }
                            else
                            {
                                 
                                <span>NA</span>
                            }
                        
                        </td>
                        @*<td>
                            @item.ICCount
                        </td>*@
                        <td>
                            @item.PendingAssets
                        </td>
                        <td>
                            @item.TotalNewAssets
                        </td>
                        <td>
                            @item.Last30Assets
                        </td>
                        <td>
                            @item.TIN
                        </td>
                        @*<td>
                            @item.LicenseType
                        </td>
                        <td>
                            @item.OperatingLicenseNumber
                        </td>*@
                        <td>
                            @item.LicenseType &nbsp;  @item.OperatingLicenseNumber  
                        </td>
                        @if (item.ICStatus.HasValue)
                        {
                            if (item.ICStatus.Value == Inview.Epi.EpiFund.Domain.Enum.ICStatus.Pending)
                            {
                            <td>
                                <a href="@Url.Action("ApproveICAdmin", "Admin", new { id = @item.UserId, name = @item.FullName, email = @item.Username })" title="approve" class="postLink-@i" onclick="$('.postLink-' + @i).hide();">
                                    <span class="glyphicon glyphicon-thumbs-up"></span></a>
                            </td>
                            <td>
                                <a href="@Url.Action("RejectICAdmin", "Admin", new { id = @item.UserId, name = @item.FullName, email = @item.Username })" title="reject" class="postLink-@i" onclick = "return verify('@i');">
                                    <span class="glyphicon glyphicon-thumbs-down"></span></a>
                            </td>
                            }
                            else if (item.ICStatus.Value == Inview.Epi.EpiFund.Domain.Enum.ICStatus.Approved)
                            {
                            <td colspan="1"></td>
                            <td style="text-align: center;">

                                <a href="@Url.Action("ICAccountingReportDisplay", "Admin", new { id = @item.UserId })" title="accounting">
                                    <span class="glyphicon glyphicon-usd"></span></a>
                            </td>
                            }
                            else
                            {
                            <td colspan="2"></td>
                            }
                        }
                        else
                        {
                            <td colspan="2"></td>
                        }
                        <td style="text-align: center;">
                            <a href="@Url.Action("EditUser", "Admin", new { id = @item.UserId })" title="edit" >
                                <span class="glyphicon glyphicon-pencil"></span></a>
                        </td>
                        <td>
                            <a href="@Url.Action("DeactivateUser", "Admin", new { id = @item.UserId })" title="delete" onclick = "return confirm('Are you sure you wish to deactivate this user?');">
                                <span class="glyphicon glyphicon-remove"></span></a>
                        </td>
                    </tr>
                    i++;
                }
            </tbody>
        </table>
    </div>
</div>
<br />
Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) of @Model.PageCount

@Html.PagedListPager(Model, page => Url.Action("ManageICAdmins",
    new { page, sortOrder = ViewBag.CurrentSort, currentFilter = ViewBag.CurrentFilter }))
