@model AssetViewModel

@using Inview.Epi.EpiFund.Domain.Helpers
@using Inview.Epi.EpiFund.Domain.Entity
@using Inview.Epi.EpiFund.Domain.ViewModel
@{
    ViewBag.Title = "Create Asset";
    Layout = ViewBag.Layout;
    @section DropzoneJs {
        <script src="@Url.Content("~/Scripts/dropzone/dropzone.js")"></script>
        <script src="@Url.Content("~/Scripts/dropzone/app.js")"></script>
    }
    @section DropzoneCss {
        <link rel="stylesheet" href="@Url.Content("~/Scripts/dropzone/basic.css")" />
        <link rel="stylesheet" href="@Url.Content("~/Scripts/dropzone/dropzone.css")" />
    }
}
<h2>Create Asset</h2>

@using (Html.BeginForm("updateasset", "admin", FormMethod.Post, new { id = "assetform"  }))
{
    @Html.ValidationSummary()
    <br />
    @Html.EditorFor(model => model, "AssetEditorTemplate")
    <br />
    <label id="saveDate"></label>
}