@model Inview.Epi.EpiFund.Domain.ViewModel.RecordContractPaymentModel
@{
    ViewBag.Title = "Record Contract Payment";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}
<script>
    $(function () {
        $('.datepicker').datepicker({ dateFormat: 'mm/dd/yy' });
    });
</script>
<h3 class="page-header">Record Contract Payment</h3>
@using (Html.BeginForm("RecordJVMAContractPayment", "Admin"))
{ 
    @Html.HiddenFor(s => s.UserId)
    <div class="row">
        <div class="col-lg-4">
            <div class="input-group">
                @Html.LabelFor(s => s.Name, new { @class = "control-label", style = "font-weight:bold;" })
            </div>
        </div>
        <div class="col-lg-8">
            <div class="input-group">
                @Html.DisplayFor(s => s.Name, new { @class = "form-control" })
            </div>
        </div>
    </div>
    <br />
    <div class="row">
        <div class="col-lg-4">
            <div class="input-group">
                @Html.LabelFor(s => s.PaymentDate, new { @class = "control-label", style = "font-weight:bold;" })
            </div>
        </div>
        <div class="col-lg-8">
            <div class="input-group">
                @Html.TextBoxFor(s => s.PaymentDate, new { @class = "form-control datepicker" }) <em>MM/dd/yyyy</em>
            </div>
        </div>
    </div>
    <br />
    <div class="row">
        <div class="col-lg-4">
            <div class="input-group">
                @Html.LabelFor(s => s.AmountPaid, new { @class = "control-label", style = "font-weight:bold;" })
            </div>
        </div>
        <div class="col-lg-8">
            <div class="input-group">
                <span class="input-group-addon">$</span>
                @Html.TextBoxFor(s => s.AmountPaid, new { @class = "form-control width-132 formatNumber", style = "text-align: right;", onblur = "toMoney(this, false)" })
            </div>
        </div>
    </div>
    <br />
    <div class="row">
        <div class="col-lg-4"></div>
        <div class="col-lg-8">
            <input type="submit" class="btn btn-primary" value="Submit" onclick="fixNumbers()" />
            <input type="button" class="btn btn-default" value="Go Back" onclick="location.href='@Url.Action("JVMAAccountingReportDisplay", "Admin", new { id = Model.UserId })    '" />
        </div>
    </div>
}
<script>
    $(function () {
        $('.datepicker').datepicker({ dateFormat: 'mm/dd/yy' });
    });
    function fixNumbers() {
        $("input.formatNumber").each(function (index) {
            $(this).val($(this).val().replace(/,/g, ""));
        });
    };
</script>