@model Inview.Epi.EpiFund.Domain.ViewModel.BindingContingentTemplateModel

Listing Agent
<div class="row">
    <div class="col-lg-6">
        <div class="input-group">
            @Html.LabelFor(model => model.To)
        </div>
    </div>
    <div class="col-lg-6">
        <div class="input-group">
            @Html.TextBoxFor(model => model.To)
            @Html.ValidationMessageFor(model => model.To)
        </div>
    </div>
</div>

<div class="row">
    <div class="col-lg-6">
        <div class="input-group">
            @Html.LabelFor(model => model.EmailAddress)
        </div>
    </div>
    <div class="col-lg-6">
        <div class="input-group">
            @Html.TextBoxFor(model => model.EmailAddress)
            @Html.ValidationMessageFor(model => model.EmailAddress)
        </div>
    </div>
</div>

<div class="row">
    <div class="col-lg-6">
        <div class="input-group">
            @Html.LabelFor(model => model.FaxNumber)
        </div>
    </div>
    <div class="col-lg-6">
        <div class="input-group">
            @Html.TextBoxFor(model => model.FaxNumber)
            @Html.ValidationMessageFor(model => model.FaxNumber)
        </div>
    </div>
</div>

<div class="row">
    <div class="col-lg-6">
        <div class="input-group">
            @Html.LabelFor(model => model.Company)
        </div>
    </div>
    <div class="col-lg-6">
        <div class="input-group">
            @Html.TextBoxFor(model => model.Company)
            @Html.ValidationMessageFor(model => model.Company)
        </div>
    </div>
</div>

<div class="row">
    <div class="col-lg-6">
        <div class="input-group">
            @Html.LabelFor(model => model.To)
        </div>
    </div>
    <div class="col-lg-6">
        <div class="input-group">
            @Html.TextBoxFor(model => model.To)
            @Html.ValidationMessageFor(model => model.To)
        </div>
    </div>
</div>

<div class="row">
    <div class="col-lg-6">
        <div class="input-group">
            @Html.LabelFor(model => model.WorkPhoneNumber)
        </div>
    </div>
    <div class="col-lg-6">
        <div class="input-group">
            @Html.TextBoxFor(model => model.WorkPhoneNumber)
            @Html.ValidationMessageFor(model => model.WorkPhoneNumber)
        </div>
    </div>
</div>

<div class="row">
    <div class="col-lg-6">
        <div class="input-group">
            @Html.LabelFor(model => model.To)
        </div>
    </div>
    <div class="col-lg-6">
        <div class="input-group">
            @Html.TextBoxFor(model => model.To)
            @Html.ValidationMessageFor(model => model.To)
        </div>
    </div>
</div>

<div class="row">
    <div class="col-lg-6">
        <div class="input-group">
            @Html.LabelFor(model => model.CellPhoneNumber)
        </div>
    </div>
    <div class="col-lg-6">
        <div class="input-group">
            @Html.TextBoxFor(model => model.CellPhoneNumber)
            @Html.ValidationMessageFor(model => model.CellPhoneNumber)
        </div>
    </div>
</div>

<div class="row">
    <div class="col-lg-6">
        <div class="input-group">
            @Html.LabelFor(model => model.CREAquisitionLOI)
        </div>
    </div>
    <div class="col-lg-6">
        <div class="input-group">
            @Html.TextBoxFor(model => model.CREAquisitionLOI)
            @Html.ValidationMessageFor(model => model.CREAquisitionLOI)
        </div>
    </div>
</div>

<div class="row">
    <div class="col-lg-6">
        <div class="input-group">
            @Html.LabelFor(model => model.CREAquisitionLOI)
        </div>
    </div>
    <div class="col-lg-6">
        <div class="input-group">
            @Html.TextBoxFor(model => model.CREAquisitionLOI)
            @Html.ValidationMessageFor(model => model.CREAquisitionLOI)
        </div>
    </div>
</div>

Buyer
<div class="row">
    <div class="col-lg-6">
        <div class="input-group">
            @Html.LabelFor(model => model.From)
        </div>
    </div>
    <div class="col-lg-6">
        <div class="input-group">
            @Html.TextBoxFor(model => model.From)
            @Html.ValidationMessageFor(model => model.From)
        </div>
    </div>
</div>

<div class="row">
    <div class="col-lg-6">
        <div class="input-group">
            @Html.LabelFor(model => model.Date)
        </div>
    </div>
    <div class="col-lg-6">
        <div class="input-group">
            @Html.TextBoxFor(model => model.Date)
            @Html.ValidationMessageFor(model => model.Date)
        </div>
    </div>
</div>

<div class="row">
    <div class="col-lg-6">
        <div class="input-group">
            @Html.LabelFor(model => model.CareOf)
        </div>
    </div>
    <div class="col-lg-6">
        <div class="input-group">
            @Html.TextBoxFor(model => model.CareOf)
            @Html.ValidationMessageFor(model => model.CareOf)
        </div>
    </div>
</div>

<div class="row">
    <div class="col-lg-6">
        <div class="input-group">
            @Html.LabelFor(model => model.TotalNumberOfPagesIncludingCover)
        </div>
    </div>
    <div class="col-lg-6">
        <div class="input-group">
            @Html.TextBoxFor(model => model.TotalNumberOfPagesIncludingCover)
            @Html.ValidationMessageFor(model => model.TotalNumberOfPagesIncludingCover)
        </div>
    </div>
</div>

<div class="row">
    <div class="col-lg-6">
        <div class="input-group">
            @Html.LabelFor(model => model.BusinessPhoneNumber)
        </div>
    </div>
    <div class="col-lg-6">
        <div class="input-group">
            @Html.TextBoxFor(model => model.BusinessPhoneNumber)
            @Html.ValidationMessageFor(model => model.CREAquisitionLOI)
        </div>
    </div>
</div>

<div class="row">
    <div class="col-lg-6">
        <div class="input-group">
            @Html.LabelFor(model => model.EmailAddress2)
        </div>
    </div>
    <div class="col-lg-6">
        <div class="input-group">
            @Html.TextBoxFor(model => model.EmailAddress2)
            @Html.ValidationMessageFor(model => model.EmailAddress2)
        </div>
    </div>
</div>

<hr />

<h2>BINDING: LETTER OF INTENT</h2>

<div class="row">
    <div class="col-lg-6">
        <div class="input-group">
            @Html.LabelFor(model => model.BeneficiarySeller)
        </div>
    </div>
    <div class="col-lg-6">
        <div class="input-group">
            @Html.TextBoxFor(model => model.BeneficiarySeller)
            @Html.ValidationMessageFor(model => model.BeneficiarySeller)
        </div>
    </div>
</div>

<div class="row">
    <div class="col-lg-6">
        <div class="input-group">
            @Html.LabelFor(model => model.OfficePhone)
        </div>
    </div>
    <div class="col-lg-6">
        <div class="input-group">
            @Html.TextBoxFor(model => model.OfficePhone)
            @Html.ValidationMessageFor(model => model.OfficePhone)
        </div>
    </div>
</div>

<div class="row">
    <div class="col-lg-6">
        <div class="input-group">
            @Html.LabelFor(model => model.OfficerOfSeller)
        </div>
    </div>
    <div class="col-lg-6">
        <div class="input-group">
            @Html.TextBoxFor(model => model.OfficerOfSeller)
            @Html.ValidationMessageFor(model => model.OfficerOfSeller)
        </div>
    </div>
</div>

<div class="row">
    <div class="col-lg-6">
        <div class="input-group">
            @Html.LabelFor(model => model.WebsiteEmail)
        </div>
    </div>
    <div class="col-lg-6">
        <div class="input-group">
            @Html.TextBoxFor(model => model.WebsiteEmail)
            @Html.ValidationMessageFor(model => model.WebsiteEmail)
        </div>
    </div>
</div>

<div class="row">
    <div class="col-lg-6">
        <div class="input-group">
            @Html.LabelFor(model => model.Buyer1Name)
        </div>
    </div>
    <div class="col-lg-6">
        <div class="input-group">
            @Html.TextBoxFor(model => model.Buyer1Name)
            @Html.ValidationMessageFor(model => model.Buyer1Name)
        </div>
    </div>
</div>

<div class="row">
    <div class="col-lg-6">
        <div class="input-group">
            @Html.LabelFor(model => model.BuyerAssigneeName)
        </div>
    </div>
    <div class="col-lg-6">
        <div class="input-group">
            @Html.TextBoxFor(model => model.BuyerAssigneeName)
            @Html.ValidationMessageFor(model => model.BuyerAssigneeName)
        </div>
    </div>
</div>

<div class="row">
    <div class="col-lg-6">
        <div class="input-group">
            @Html.LabelFor(model => model.ObjectOfPurchase)
        </div>
    </div>
    <div class="col-lg-6">
        <div class="input-group">
            @Html.TextBoxFor(model => model.ObjectOfPurchase)
            @Html.ValidationMessageFor(model => model.ObjectOfPurchase)
        </div>
    </div>
</div>

<div class="row">
    <div class="col-lg-6">
        <div class="input-group">
            @Html.LabelFor(model => model.LegalDescription)
        </div>
    </div>
    <div class="col-lg-6">
        <div class="input-group">
            @Html.TextBoxFor(model => model.LegalDescription)
            @Html.ValidationMessageFor(model => model.LegalDescription)
        </div>
    </div>
</div>

<div class="row">
    <div class="col-lg-6">
        <div class="input-group">
            @Html.LabelFor(model => model.AssessorNumber)
        </div>
    </div>
    <div class="col-lg-6">
        <div class="input-group">
            @Html.TextBoxFor(model => model.AssessorNumber)
            @Html.ValidationMessageFor(model => model.AssessorNumber)
        </div>
    </div>
</div>

<div class="row">
    <div class="col-lg-6">
        <div class="input-group">
            @Html.LabelFor(model => model.SecuredMortgages)
        </div>
    </div>
    <div class="col-lg-6">
        <div class="input-group">
            @Html.TextBoxFor(model => model.SecuredMortgages)
            @Html.ValidationMessageFor(model => model.SecuredMortgages)
        </div>
    </div>
</div>

<div class="row">
    <div class="col-lg-6">
        <div class="input-group">
            @Html.LabelFor(model => model.Lender)
        </div>
    </div>
    <div class="col-lg-6">
        <div class="input-group">
            @Html.TextBoxFor(model => model.Lender)
            @Html.ValidationMessageFor(model => model.Lender)
        </div>
    </div>
</div>

<div class="row">
    <div class="col-lg-6">
        <div class="input-group">
            @Html.LabelFor(model => model.NoSecuredMortgages)
        </div>
    </div>
    <div class="col-lg-6">
        <div class="input-group">
            @Html.TextBoxFor(model => model.NoSecuredMortgages)
            @Html.ValidationMessageFor(model => model.NoSecuredMortgages)
        </div>
    </div>
</div>

<div class="row">
    <div class="col-lg-6">
        <div class="input-group">
            @Html.LabelFor(model => model.OfferingPurchasePrice)
        </div>
    </div>
    <div class="col-lg-6">
        <div class="input-group">
            @Html.TextBoxFor(model => model.OfferingPurchasePrice)
            @Html.ValidationMessageFor(model => model.OfferingPurchasePrice)
        </div>
    </div>
</div>

<div class="row">
    <div class="col-lg-6">
        <div class="input-group">
            @Html.LabelFor(model => model.InitialEarnestDeposit)
        </div>
    </div>
    <div class="col-lg-6">
        <div class="input-group">
            @Html.TextBoxFor(model => model.InitialEarnestDeposit)
            @Html.ValidationMessageFor(model => model.InitialEarnestDeposit)
        </div>
    </div>
</div>

<div class="row">
    <div class="col-lg-6">
        <div class="input-group">
            @Html.LabelFor(model => model.BalanceEarnestDeposit)
        </div>
    </div>
    <div class="col-lg-6">
        <div class="input-group">
            @Html.TextBoxFor(model => model.BalanceEarnestDeposit)
            @Html.ValidationMessageFor(model => model.BalanceEarnestDeposit)
        </div>
    </div>
</div>

<div class="row">
    <div class="col-lg-6">
        <div class="input-group">
            @Html.LabelFor(model => model.TermsOfPurchase)
        </div>
    </div>
    <div class="col-lg-6">
        <div class="input-group">
            @Html.TextBoxFor(model => model.TermsOfPurchase)
            @Html.ValidationMessageFor(model => model.TermsOfPurchase)
        </div>
    </div>
</div>

<div class="row">
    <div class="col-lg-6">
        <div class="input-group">
            @Html.LabelFor(model => model.EmailAddress2)
        </div>
    </div>
    <div class="col-lg-6">
        <div class="input-group">
            @Html.TextBoxFor(model => model.EmailAddress2)
            @Html.ValidationMessageFor(model => model.EmailAddress2)
        </div>
    </div>
</div>

<div class="row">
    <div class="col-lg-6">
        <div class="input-group">
            @Html.LabelFor(model => model.BeneficiarySeller)
        </div>
    </div>
    <div class="col-lg-6">
        <div class="input-group">
            @Html.TextBoxFor(model => model.BeneficiarySeller)
            @Html.ValidationMessageFor(model => model.BeneficiarySeller)
        </div>
    </div>
</div>

<div class="row">
    <div class="col-lg-6">
        <div class="input-group">
            @Html.LabelFor(model => model.OfficePhone)
        </div>
    </div>
    <div class="col-lg-6">
        <div class="input-group">
            @Html.TextBoxFor(model => model.OfficePhone)
            @Html.ValidationMessageFor(model => model.OfficePhone)
        </div>
    </div>
</div>

<div class="row">
    <div class="col-lg-6">
        <div class="input-group">
            @Html.LabelFor(model => model.OfficerOfSeller)
        </div>
    </div>
    <div class="col-lg-6">
        <div class="input-group">
            @Html.TextBoxFor(model => model.OfficerOfSeller)
            @Html.ValidationMessageFor(model => model.OfficerOfSeller)
        </div>
    </div>
</div>

<div class="row">
    <div class="col-lg-6">
        <div class="input-group">
            @Html.LabelFor(model => model.WebsiteEmail)
        </div>
    </div>
    <div class="col-lg-6">
        <div class="input-group">
            @Html.TextBoxFor(model => model.WebsiteEmail)
            @Html.ValidationMessageFor(model => model.WebsiteEmail)
        </div>
    </div>
</div>

<div class="row">
    <div class="col-lg-6">
        <div class="input-group">
            @Html.LabelFor(model => model.Buyer1Name)
        </div>
    </div>
    <div class="col-lg-6">
        <div class="input-group">
            @Html.TextBoxFor(model => model.Buyer1Name)
            @Html.ValidationMessageFor(model => model.Buyer1Name)
        </div>
    </div>
</div>

<div class="row">
    <div class="col-lg-6">
        <div class="input-group">
            @Html.LabelFor(model => model.Releasing)
        </div>
    </div>
    <div class="col-lg-6">
        <div class="input-group">
            @Html.TextBoxFor(model => model.Releasing)
            @Html.ValidationMessageFor(model => model.Releasing)
        </div>
    </div>
</div>

<div class="row">
    <div class="col-lg-6">
        <div class="input-group">
            @Html.LabelFor(model => model.Terms1)
        </div>
    </div>
    <div class="col-lg-6">
        <div class="input-group">
            @Html.TextBoxFor(model => model.Terms2)
            @Html.ValidationMessageFor(model => model.Terms3)
        </div>
    </div>
</div>

<div class="row">
    <div class="col-lg-6">
        <div class="input-group">
            @Html.LabelFor(model => model.DueDiligenceDate)
        </div>
    </div>
    <div class="col-lg-6">
        <div class="input-group">
            @Html.TextBoxFor(model => model.DueDiligenceDate)
            @Html.ValidationMessageFor(model => model.DueDiligenceDate)
        </div>
    </div>
</div>

<div class="row">
    <div class="col-lg-6">
        <div class="input-group">
            @Html.LabelFor(model => model.DueDiligenceNumberOfDays)
        </div>
    </div>
    <div class="col-lg-6">
        <div class="input-group">
            @Html.TextBoxFor(model => model.DueDiligenceNumberOfDays)
            @Html.ValidationMessageFor(model => model.DueDiligenceNumberOfDays)
        </div>
    </div>
</div>

<div class="row">
    <div class="col-lg-6">
        <div class="input-group">
            @Html.LabelFor(model => model.SellerDisclosureDate)
        </div>
    </div>
    <div class="col-lg-6">
        <div class="input-group">
            @Html.TextBoxFor(model => model.SellerDisclosureDate)
            @Html.ValidationMessageFor(model => model.SellerDisclosureDate)
        </div>
    </div>
</div>

<div class="row">
    <div class="col-lg-6">
        <div class="input-group">
            @Html.LabelFor(model => model.OperatingDisclosureDate)
        </div>
    </div>
    <div class="col-lg-6">
        <div class="input-group">
            @Html.TextBoxFor(model => model.OperatingDisclosureDate)
            @Html.ValidationMessageFor(model => model.OperatingDisclosureDate)
        </div>
    </div>
</div>

<div class="row">
    <div class="col-lg-6">
        <div class="input-group">
            @Html.LabelFor(model => model.OperatingDisclosureNumberOfDays)
        </div>
    </div>
    <div class="col-lg-6">
        <div class="input-group">
            @Html.TextBoxFor(model => model.OperatingDisclosureNumberOfDays)
            @Html.ValidationMessageFor(model => model.OperatingDisclosureNumberOfDays)
        </div>
    </div>
</div>

<div class="row">
    <div class="col-lg-6">
        <div class="input-group">
            @Html.LabelFor(model => model.ClosingDate)
        </div>
    </div>
    <div class="col-lg-6">
        <div class="input-group">
            @Html.TextBoxFor(model => model.ClosingDate)
            @Html.ValidationMessageFor(model => model.ClosingDate)
        </div>
    </div>
</div>

<div class="row">
    <div class="col-lg-6">
        <div class="input-group">
            @Html.LabelFor(model => model.ClosingDateNumberOfDays)
        </div>
    </div>
    <div class="col-lg-6">
        <div class="input-group">
            @Html.TextBoxFor(model => model.ClosingDateNumberOfDays)
            @Html.ValidationMessageFor(model => model.ClosingDateNumberOfDays)
        </div>
    </div>
</div>

<div class="row">
    <div class="col-lg-6">
        <div class="input-group">
            @Html.LabelFor(model => model.FormalDocumentationDate)
        </div>
    </div>
    <div class="col-lg-6">
        <div class="input-group">
            @Html.TextBoxFor(model => model.FormalDocumentationDate)
            @Html.ValidationMessageFor(model => model.FormalDocumentationDate)
        </div>
    </div>
</div>

<div class="row">
    <div class="col-lg-6">
        <div class="input-group">
            @Html.LabelFor(model => model.FormalDocumentationNumberOfDays)
        </div>
    </div>
    <div class="col-lg-6">
        <div class="input-group">
            @Html.TextBoxFor(model => model.FormalDocumentationNumberOfDays)
            @Html.ValidationMessageFor(model => model.FormalDocumentationNumberOfDays)
        </div>
    </div>
</div>

<div class="row">
    <div class="col-lg-6">
        <div class="input-group">
            @Html.LabelFor(model => model.CommissionFees)
        </div>
    </div>
    <div class="col-lg-6">
        <div class="input-group">
            @Html.TextBoxFor(model => model.CommissionFees)
            @Html.ValidationMessageFor(model => model.CommissionFees)
        </div>
    </div>
</div>

<div class="row">
    <div class="col-lg-6">
        <div class="input-group">
            @Html.LabelFor(model => model.CommissionFeesPercent)
        </div>
    </div>
    <div class="col-lg-6">
        <div class="input-group">
            @Html.TextBoxFor(model => model.CommissionFeesPercent)
            @Html.ValidationMessageFor(model => model.CommissionFeesPercent)
        </div>
    </div>
</div>

<div class="row">
    <div class="col-lg-6">
        <div class="input-group">
            @Html.LabelFor(model => model.EscrowCompany1)
        </div>
    </div>
    <div class="col-lg-6">
        <div class="input-group">
            @Html.TextBoxFor(model => model.EscrowCompany1)
            @Html.ValidationMessageFor(model => model.EscrowCompany1)
        </div>
    </div>
</div>

<div class="row">
    <div class="col-lg-6">
        <div class="input-group">
            @Html.LabelFor(model => model.EscrowCompany2)
        </div>
    </div>
    <div class="col-lg-6">
        <div class="input-group">
            @Html.TextBoxFor(model => model.EscrowCompany2)
            @Html.ValidationMessageFor(model => model.EscrowCompany2)
        </div>
    </div>
</div>

<div class="row">
    <div class="col-lg-6">
        <div class="input-group">
            @Html.LabelFor(model => model.StateOfCountyAssessors)
        </div>
    </div>
    <div class="col-lg-6">
        <div class="input-group">
            @Html.TextBoxFor(model => model.StateOfCountyAssessors)
            @Html.ValidationMessageFor(model => model.StateOfCountyAssessors)
        </div>
    </div>
</div>

<div class="row">
    <div class="col-lg-6">
        <div class="input-group">
            @Html.LabelFor(model => model.StateOfPropertyTaxOffice)
        </div>
    </div>
    <div class="col-lg-6">
        <div class="input-group">
            @Html.TextBoxFor(model => model.StateOfPropertyTaxOffice)
            @Html.ValidationMessageFor(model => model.StateOfPropertyTaxOffice)
        </div>
    </div>
</div>

<div class="row">
    <div class="col-lg-6">
        <div class="input-group">
            @Html.LabelFor(model => model.LOIDate)
        </div>
    </div>
    <div class="col-lg-6">
        <div class="input-group">
            @Html.TextBoxFor(model => model.LOIDate)
            @Html.ValidationMessageFor(model => model.LOIDate)
        </div>
    </div>
</div>

<div class="row">
    <div class="col-lg-6">
        <div class="input-group">
            @Html.LabelFor(model => model.Buyer1)
        </div>
    </div>
    <div class="col-lg-6">
        <div class="input-group">
            @Html.TextBoxFor(model => model.Buyer1)
            @Html.ValidationMessageFor(model => model.Buyer1)
        </div>
    </div>
</div>

<div class="row">
    <div class="col-lg-6">
        <div class="input-group">
            @Html.LabelFor(model => model.BuyerTitle1)
        </div>
    </div>
    <div class="col-lg-6">
        <div class="input-group">
            @Html.TextBoxFor(model => model.BuyerTitle1)
            @Html.ValidationMessageFor(model => model.BuyerTitle1)
        </div>
    </div>
</div>

<div class="row">
    <div class="col-lg-6">
        <div class="input-group">
            @Html.LabelFor(model => model.Buyer2)
        </div>
    </div>
    <div class="col-lg-6">
        <div class="input-group">
            @Html.TextBoxFor(model => model.Buyer2)
            @Html.ValidationMessageFor(model => model.Buyer2)
        </div>
    </div>
</div>

<div class="row">
    <div class="col-lg-6">
        <div class="input-group">
            @Html.LabelFor(model => model.BuyerTitle2)
        </div>
    </div>
    <div class="col-lg-6">
        <div class="input-group">
            @Html.TextBoxFor(model => model.BuyerTitle2)
            @Html.ValidationMessageFor(model => model.BuyerTitle2)
        </div>
    </div>
</div>

<div class="row">
    <div class="col-lg-6">
        <div class="input-group">
            @Html.LabelFor(model => model.SellerReceiver1)
        </div>
    </div>
    <div class="col-lg-6">
        <div class="input-group">
            @Html.TextBoxFor(model => model.SellerReceiver1)
            @Html.ValidationMessageFor(model => model.SellerReceiver1)
        </div>
    </div>
</div>

<div class="row">
    <div class="col-lg-6">
        <div class="input-group">
            @Html.LabelFor(model => model.SellerReceiver1Officer)
        </div>
    </div>
    <div class="col-lg-6">
        <div class="input-group">
            @Html.TextBoxFor(model => model.SellerReceiver1Officer)
            @Html.ValidationMessageFor(model => model.SellerReceiver1Officer)
        </div>
    </div>
</div>

<div class="row">
    <div class="col-lg-6">
        <div class="input-group">
            @Html.LabelFor(model => model.SellerReceiver1Title)
        </div>
    </div>
    <div class="col-lg-6">
        <div class="input-group">
            @Html.TextBoxFor(model => model.SellerReceiver1Title)
            @Html.ValidationMessageFor(model => model.SellerReceiver1Title)
        </div>
    </div>
</div>

<div class="row">
    <div class="col-lg-6">
        <div class="input-group">
            @Html.LabelFor(model => model.SellerReceiver2)
        </div>
    </div>
    <div class="col-lg-6">
        <div class="input-group">
            @Html.TextBoxFor(model => model.SellerReceiver2)
            @Html.ValidationMessageFor(model => model.SellerReceiver2)
        </div>
    </div>
</div>

<div class="row">
    <div class="col-lg-6">
        <div class="input-group">
            @Html.LabelFor(model => model.SellerReceiver2Officer)
        </div>
    </div>
    <div class="col-lg-6">
        <div class="input-group">
            @Html.TextBoxFor(model => model.SellerReceiver2Officer)
            @Html.ValidationMessageFor(model => model.SellerReceiver2Officer)
        </div>
    </div>
</div>

<div class="row">
    <div class="col-lg-6">
        <div class="input-group">
            @Html.LabelFor(model => model.SellerReceiver2Title)
        </div>
    </div>
    <div class="col-lg-6">
        <div class="input-group">
            @Html.TextBoxFor(model => model.SellerReceiver2Title)
            @Html.ValidationMessageFor(model => model.SellerReceiver2Title)
        </div>
    </div>
</div>

<div class="row">
    <div class="col-lg-6">
        <div class="input-group">
            @Html.LabelFor(model => model.BuyersAssignee1)
        </div>
    </div>
    <div class="col-lg-6">
        <div class="input-group">
            @Html.TextBoxFor(model => model.BuyersAssignee1)
            @Html.ValidationMessageFor(model => model.BuyersAssignee1)
        </div>
    </div>
</div>

<div class="row">
    <div class="col-lg-6">
        <div class="input-group">
            @Html.LabelFor(model => model.BuyersAssignee1Officer)
        </div>
    </div>
    <div class="col-lg-6">
        <div class="input-group">
            @Html.TextBoxFor(model => model.BuyersAssignee1Officer)
            @Html.ValidationMessageFor(model => model.BuyersAssignee1Officer)
        </div>
    </div>
</div>

<div class="row">
    <div class="col-lg-6">
        <div class="input-group">
            @Html.LabelFor(model => model.BuyersAssignee1Title)
        </div>
    </div>
    <div class="col-lg-6">
        <div class="input-group">
            @Html.TextBoxFor(model => model.BuyersAssignee1Title)
            @Html.ValidationMessageFor(model => model.BuyersAssignee1Title)
        </div>
    </div>
</div>

<div class="row">
    <div class="col-lg-6">
        <div class="input-group">
            @Html.LabelFor(model => model.BuyersAssignee2)
        </div>
    </div>
    <div class="col-lg-6">
        <div class="input-group">
            @Html.TextBoxFor(model => model.BuyersAssignee2)
            @Html.ValidationMessageFor(model => model.BuyersAssignee2)
        </div>
    </div>
</div>

<div class="row">
    <div class="col-lg-6">
        <div class="input-group">
            @Html.LabelFor(model => model.BuyersAssignee2Officer)
        </div>
    </div>
    <div class="col-lg-6">
        <div class="input-group">
            @Html.TextBoxFor(model => model.BuyersAssignee2Officer)
            @Html.ValidationMessageFor(model => model.BuyersAssignee2Officer)
        </div>
    </div>
</div>

<div class="row">
    <div class="col-lg-6">
        <div class="input-group">
            @Html.LabelFor(model => model.BuyersAssignee2Title)
        </div>
    </div>
    <div class="col-lg-6">
        <div class="input-group">
            @Html.TextBoxFor(model => model.BuyersAssignee2Title)
            @Html.ValidationMessageFor(model => model.BuyersAssignee2Title)
        </div>
    </div>
</div>