@{
    ViewBag.Title = "CRE Data Portal";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="main-img"></div>

<h3>USCREonline.com is a Commercial Real Estate Data Portal</h3>

<p>USC is a unique, wholly automated portal for comprehensive, detailed commercial real estate data {fee simple vesting or securitized note vesting} for United States holdings (including Hawaii & Alaska)…. emphasizing...</p>
<h4 style="text-align: center; font-weight: bold;"><span class="glyphicon glyphicon-arrow-right"></span> PRINCIPAL to PRINCIPAL Relationships <span class="glyphicon glyphicon-arrow-left"></span> </h4>
<p>All CRE Asset Data Files displayed are on property confirmed as available for sale by either the principal owner and or a principal owner’s representative (unless the asset is specifically posted as pending).  All data presented on each CRE asset file is data made available directly by the assets title holder, direct representative, and or from public data.</p>
<p>USC provides an <b>[Identical Display Template] (“IDT”)</b> for all CRE Asset Data Views… providing adaptation for each CRE Asset Type (e.g., Multi-Family, Mobile Home Parks, Retail, Office, Medical, Industrial, Hotel/Motel, Mixed Use, etc.).  The USC <b>[IDT]</b> includes real time, auto-adjustable comprehensive pre-tax <b>Investment Analysis Indicators</b> for all CRE Asset Views (e.g., CAP Rate Indicators, Deferred Maintenance CAP Rate Indicators, Performance Adjustment Indicators, Leveraged Cash Flow Indicators, and Adjustable Purchase Money Comparative Analysis Indicators).  Utilizing the USC <b>[IDT]</b>… Principals and Professionals from the Global CRE Community can…</p>
<h4 style="text-align:center; font-weight:bold;">Comprehensively review detailed US CRE Inventory… in SECONDS</h4>
<p>A key component of the USC CRE Asset presentation is in its timely presentation of such critical available inventory to prospective end users; opportunities USC Registered Users may not otherwise have had access to and or time to pursue.  At USC, end users are able to communicate [advanced interest] in applicable CRE inventory which, via site protocol, would give opportunity to engage in vesting negotiations even before an asset is formerly published for open market availability.</p>
<p><b><span style="color:red;">Note:</span> it is the responsibility of all vesting principals to analyze and underwrite any asset intended for investment based solely on their own due diligence. </b></p>
<p>Principals and Members of the Professional Community can upload an unlimited quantity of their CRE <b>“Portfolio”</b> at NO COST… even if you are not yet ready to liquidate/market the interests in/of any one or more of such holdings: simply by clicking @Html.ActionLink("Create New CRE Asset File", "EpiFundBuysRealEstate", "Home") from the USC top Menu Bar or Directory.  When you are ultimately prepared to liquidate/market, you simply <b>(1)</b> select which of your holdings you wish to Publish, and (2) select if you wish to liquidate said holdings individually or as a <b>“Portfolio”</b> package.  At USC, “Portfolio” packages provide our Principal Investor and/or Professional Community db with <b>Asset Views</b> of <b>(A)</b> each individual CRE Asset, and <b>(B)</b> a Portfolio Summary of the cumulative CRE Asset Package… and it’s completely automated!</p>
<p>Within seconds after a CRE Asset or Portfolio is published, the entire USC global db of CRE principals and professionals are notified of such posting… and done so in prioritized order based on each USC Registrant’s interest specifics.  The USC mission statement for the entire CRE Principal and Professional Community is simple:</p>
<h4 style="text-align:center; font-weight:bold;">Increase Liquidity and Equity in your CRE Portfolio…with one click</h4>

<hr />
<h3>It is Critical for the Vesting Entity to have its Debt & Equity Acquisition Capital Fully Secured & Committed</h3>

<p>Requisite protocol in today’s CRE Asset Marketplace sets as mandatory for the exchange of Non-Compete Non-Disclosure Confidentiality Agreements  <a title="Non-Compete Non-Disclosure Confidentiality Agreement">NCND</a> between all parties in the exchange of data on every asset.  It is the absolute responsibility of all USC Registered Users to ensure that proper confidentiality agreements are secured and stored in their respective <b>“My USC Page”</b> as pertains to each Asset.  USC does require all of its Registrants to electronically sign/acknowledge an <a title="Non-Compete Non-Disclosure Confidentiality Agreement">NCND</a> in order to complete their registration protocol.</p>
<p>Additionally, as dictated by the CRE Professional Community, presentation of <b>Proof of Funds <a title="Proof of Funds">("POF")</a></b> with all submitted Letter(s) of Intent to Purchase <a title="Letter of Intent ">(“LOI”)</a> is mandatory.  And if the intended vesting entity is not an [All Cash Buyer] then <a title="Proof of Funds">POF</a> must include a bonafide <b>Conditional PM Debt Commitment <a title="Conditional Purchase Money Debt Commitment">(“CDC”)</a></b> of no less than the LOI Pricing as a requisite to any consideration toward the LOI.  If the vesting principal is a referral from a CRE Mortgage Lender/Broker we encourage you to engage with your pending debt partner to secure your <a title="Proof of Funds">POF</a> and <b>CDC</b> as a prerequisite to reviewing any prospective acquisition inventory.</p>
<p>If you require a debt (or equity) partner and are not engaged with a CRE Mortgage Lender/Broker, USC <b>has over 5,000 Debt & Equity Funding Entities</b> in its <a title="Mortgage Bankers Association">MBA</a> data base for our Vesting Entities to inquire from.  Requisite documentation to secure multiple quotes within 48 hours include the following:</p>

<ol>
    <li>Operating & Management Resumes of each Corporate Equity Partner;</li>
    <li>Proof of Funds from Vesting entity that is to represent its Equity Participation;</li>
    <li>A credit report will be run by the prospective Debt Partner on each Vesting Entity Partner, even though a presented Debt Package may be non-recourse;</li>
    <li>Summary operating detail on the intended CRE Asset… which such Debt/Equity Participant shall have full access to through USC;</li>
</ol>

<p>If you are not already represented by a CRE Mortgage Lender/Broker and would like to view the USC data base of such participants, please either <b>(1)</b> select the button below to be directed to the [Secure Debt/Equity Partner] page of USC, or <b>(2)</b> click @Html.ActionLink("here", "ContactUs", "Home") and make your selection form the drop down menu in @Html.ActionLink("Contact Us", "ContactUs", "Home") for further assistance.</p>

<input type="button" id="proceed" class="btn btn-default" value="Proceed to Secure Debt/Equity Partner Page of USC" onclick="location.href='@Url.Action("SecureDebtEquityPartner", "Investors")    '" />

<p>Utilizing the US CRE online [Asset Search Criteria] technology and network enables our vesting Principal Investor Registrant’s timely access to quality, immediately available, and primarily FIRST ON MARKET inventory for priority review and consideration for new transactional commitments.  It also auto creates direct notification in the USC db to its vested principals of matching inventory not yet published of such Registrant’s criteria and qualifications.  Such technology and communication protocol is invaluable to the CRE Community.  To get started, please @Html.ActionLink("log in", "Login", "Home"), then select the Investment Asset Search Criteria Questionnaire button below.</p>

<input type="button" id="proceed" class="btn btn-default" value="Proceed to Investment Asset Search Criteria" onclick="location.href='@Url.Action("InvestmentAssetSearchCriteria", "DataPortal")'" />

