@{
    ViewBag.Title = "About US CRE Online";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="main-img"></div>
<h3 class="page-header">US CRE Online, LLC</h3>

<h4>ABOUT US CRE online, LLC</h4>
<br />
<div class="panel panel-default">
    <div class="panel-heading">
        UNPARALLELED TECHNOLOGICAL PRESENTATION OF INCOME PRODUCING CRE
    </div>
    <div class="panel-body">
        <p style="margin-top: 0;">US CRE Online.com LLC (“USC”) is a privately held entity through its parent company, Executive Private Investment Funding Co., LLC, a Nevada Limited Liability Company. USC, through its proprietary exclusive international network of CRE Industry principals and professionals, is a state-of-the-art data portal with a fully automated communications module to serve the Global Commercial Real Estate Community.   USC is an online software and data presentation tool that encourages participation from both the CRE Industries direct users (e.g., vested and vesting entities, NAR Member Listing Agents) and complimentary users (e.g., Title & Escrow Companies, Insurance Providers, Legal Community, CPA’s, Managers, Developers, Construction Companies, etc.).  The USC database of income producing commercial real estate includes any and all of the following types of real property investment based assets, including Notes that are secured by such defined assets:</p>

    <ul class="ul-styled">
            <li>Commercial Industrial</li>
            <li>Commercial Medical</li>
            <li>Commercial Office</li>
            <li>Commercial Retail</li>
            <li>Commercial Service Station & Retail</li>
            <li>Commercial Single Tenant</li>
            <li>Fractured Condominium Portfolio</li>
            <li>Managed Condominium Development</li>
            <li>Mini-Storage Development</li>
            <li>Mixed Use</li>
            <li>Mobile Home Parks</li>
            <li>Multi-Family</li>
            <li>Secured CRE Paper: All Asset Types</li>
        </ul>
        <p>
            US CRE Online operates under a highly sophisticated, fully encrypted “Virtual Relationship and Transactional Technological Platform” for Global vested and vesting interests in United States of America Commercial Real Estate inventory.  USC provides an [Identical Display Template] (“IDT”) platform for all CRE Asset Data Views…providing adaptation for each CRE Asset Type (see list above).  The USC [IDT] includes real time, auto-adjustable comprehensive Analysis Indicators for all of its inventory of CRE Asset Views (e.g., CAP Rate Indicators, Deferred Maintenance CAP Rate Indicators, Performance Adjustment Indicators, Leveraged Cash Flow Indicators, and Adjustable Purchase Money Comparative Analysis Indicators).  Under such a uniform presentation, USC Members are able to preview multiple CRE inventory in seconds to minutes to ascertain interest levels on qualifying assets.  The USC Platform, by its architecture, creates opportunity for increased transactional pipelines for all of its participants.
        </p>
        <p>
            The unyielding commitment of USC Corporate is to ensure that its technology is functioning 24/7/365, that USC responds to the continual demands of the CRE data, technology, and communications environment, and that USC govern all site activity to ensure 100% operational, legal, and ethical compliance within the Industry.  At US CRE Online, its Users manage all external site activity; CRE Asset uploads, publishing and un-publishing Assets to the exclusive USC Global participation data base, intra-site communications between principals and or their professional representatives, and maintaining permanent histories of all correspondence in a wholly secured (encrypted) file management environment.  
        </p>
    </div>
</div>
<div class="panel panel-default">
    <div class="panel-heading">QUALIFIED GLOBAL PRIVATE INVESTOR RELATIONSHIPS ON UNITED STATES INVENTORY</div>
    <div class="panel-body">
        <p style="margin-top: 0">US CRE is committed to having detailed information on every commercial real estate asset in the United States in its data base.  Under this environment when an asset changes vesting, the new holder can continue to utilize the USC Platform in a transitional protocol in minutes… with all of the timely geographic, demographic, and economic data instantly transferred… thus adding liquidity opportunity to the CRE Equity Community.  USC Users, while maintaining real time operating data on their respective portfolio’s, are able to publish the availability of any of their holdings to millions of CRE Industry Participants… at the click of a button.  US CRE inventory includes CRE backed mortgage paper in all regions of the United States as uploaded and managed by their respective beneficiaries and or professional representatives. All US CRE Asset inventory is supported by a full complement of appropriate and or applicable recorded documents that serve to provide USC Users with complete transparency and full disclosure data presentations.</p>
        <p>To learn more about USC’s CRE Data Portal please click @Html.ActionLink("here", "DataPortal", "DataPortal") or click the CRE Data Portal tab at the Directory or at the top of this screen. To view any of our immediately available inventory of @Html.ActionLink("CRE Assets", "InvestorOpportunities", "Home"), you will be required to @Html.ActionLink("register", "Registration", "Home") and execute our Non-Compete Non-Disclosure Confidentiality Agreement (“@Html.ActionLink("NCND", "DownloadNCNDTemplate", "DataPortal")”) and Margin Disclosure Agreement (“@Html.ActionLink("IPA", "DownloadIPABuyerTemplate", "DataPortal")”) to be executed for each qualifying Asset).  Thereafter, you will be able to access all USC Asset Inventory at any time.</p>
    </div>
</div>
<div class="panel panel-default">
    <div class="panel-heading">US CRE ONLINE IS A MARKETING TOOL AVAILABLE FOR ALL INDUSTRY PARTICIPANTS</div>
    <div class="panel-body">
        <p style="margin-top: 0">USC is a marketing tool that serves and benefits the full width of the CRE Principal Investor and Professional Community… emphasizing Principal-to-Principal relationships.  Under the USC Platform vested participants instantly benefit through increased liquidity and equity in all of their participating holdings. There is no recurring service fee to the CRE Investment Community for engagement in USC’s Asset Publishing @Html.ActionLink("IPA", "DownloadIPASellerTemplate", "DataPortal").  USC IPA’s only require a one percent (1.0%) participation to USC by USC’s vested and or vesting community (aka “site users”) (and only 0.25% participation for NAR Member professional community asset uploads…) on each uploaded asset…and is strictly transactional based.  Upon completing the registration protocol at USC, which includes electronically signing USC’s NCND and IPA agreements… Registrants will have full authority to upload an unlimited number of new CRE Assets… and publish them under their unique scheduling, and review an unlimited number of Published Assets without there ever being a recurring service fee.</p>
        <p>To get started, please @Html.ActionLink("click here", "Registration", "Home") to commence the USC Registration protocol. Registration only requires five minutes of your time, including the NCND and IPA automated electronic execution protocol. You may also complete our Investment Property @Html.ActionLink("[Asset Search]", "InvestmentAssetSearchCriteria", "DataPortal") Questionnaire without registering to see if USC is able to identify CRE Inventory that meets your immediate requisites. You will only be required to @Html.ActionLink("register", "Registration", "Home") to view any USC CRE Inventory.</p>
    </div>
</div>
<div class="panel panel-default">
    <div class="panel-heading">Contact Information for US CRE online, LLC</div>
    <div class="panel-body">
        US CRE Online.com LLC
        <br />
        3870 E. Flamingo Road, Suite A2-148
        <br />
        Las Vegas, NV 89121
        <br />
        Corp: (702) 883-1927 
        <br />
        <a href="mailto:info@uscreonline.com">info@uscreonline.com</a>
    </div>
</div>
