@model Inview.Epi.EpiFund.Domain.ViewModel.RealEstateCommercialAssetViewModel
@{
    ViewBag.Title = "US CRE Online Buys Commercial Real Estate";
    Layout = "~/Views/Shared/_Layout.cshtml";
    @section DropzoneJs {
        <script src="@Url.Content("~/Scripts/dropzone/dropzone.js")"></script>
        <script src="@Url.Content("~/Scripts/dropzone/app.js")"></script>
    }
    @section DropzoneCss {
        <link rel="stylesheet" href="@Url.Content("~/Scripts/dropzone/basic.css")" />
        <link rel="stylesheet" href="@Url.Content("~/Scripts/dropzone/dropzone.css")" />
    }
}
@Html.ValidationSummary()
@if (TempData["AssetUrl"] != null)
{
    <a href="@TempData["AssetUrl"]" class="btn btn-primary" target="_blank">Preview the Asset View of your Submitted Property</a>
}
<div style="text-align: center; vertical-align: central">
    <h3>Create your “Fee Simple” CRE Asset Data File</h3>
</div>
<p>
    US CRE Online is a totally automated – <span style="color: red;">Principal to Principal Website</span> – that serves all Industry Participants of the United States Commercial Real Estate Community.  The sole task of US CRE Online is to maintain its technology 24/7/365… and to meet the site technology, data base, and automated informational marketing needs and requests of its participating Commercial Real Estate Community.
</p>
<p>
    To commence the creation of your online CRE Data File(s) with USC requires you to complete Section 1 of the below form at this page; which is the <b>Asset Owners Contact & Registration Information Section</b>.  Subsequent Section 1, you do not have to complete the Asset Information Sections before completing USC’s “<b>Creating your New CRE Fee Simple File</b>” protocol.  If you need more time to gather key data you may simply save the Form and return to it through your “My USC Page”…[Manage Portfolio Assets] at any time.  In fact, it is expected of all USC CRE Asset Owner Registrants that you will regularly be updating your Asset Files as operating and demographic data changes during your ownership tenure.
</p>
<p>
    You may choose to simply @Html.ActionLink("Register", "Registration", "Home") at this time as an Asset Owner and commence “<b>Creating your New CRE Fee Simple File</b>” for one or more of your CRE Holdings at a later time.  Registration at US CRE Online does not bear a registration or recurring cost to its Users.  When, and only when you elect to [<a title="Publishing a Vested or Represented CRE Asset is a one click protocol that results in notifying the full USC Community of Accredited Principals of the availability of said Asset or Portfolio.">Publish</a>] any, some, or all of your “<b><u>Created Fee Simple CRE Files</u></b>, you will then be required to electronically execute the USC ("@Html.ActionLink("IPA", "DownloadIPASellerTemplate", "DataPortal")").
</p>
<p>
    If you have any questions about the registration process please go to @Html.ActionLink("Contact Us", "ContactUs", "Home").  You may also e-mail customer service at <a href="mailto:info@uscreonline.com">info@uscreonline.com</a> 24/7.
</p>
<ul>
    <li>
        <span style="color: red; font-weight: bold;">What does US CRE Online charge for its site technology and automated informational marketing portal services? </span>
        <ul>
            <br />
            <li>
                We charge a flat fee equal to one percent (1.0%) of a Registered Assets ultimate transfer value whenever the Asset Owner transfers title of the Asset to a new user.  It does not matter when this occurs succeeding the commencement date of creating each new CRE Fee Simple File. Thus, a Registered Vested Title Holder, or NAR Member Representative thereto, could create one or more CRE Asset Files today and elect not to [<a title="Publishing a Vested or Represented CRE Asset is a one click protocol that results in notifying the full USC Community of Accredited Principals of the availability of said Asset or Portfolio.">Publish</a>] such File(s) for months or even years and there would be no cost to the User during this time whatsoever.
            </li>
            <br />
            <li>
                Our services fee will generally be collected through normal escrow procedures at the time of closing.  The terms and conditions of our services are clearly provided in our <b>IPA</b>.
            </li>
            <br />
            <li>
                THERE IS <u style="color:red">NO CHARGE OR COST</u> TO CREATE AND STORE YOUR CRE ASSET DATA FILE(S) AT US CRE Online.  Period.  You may store each and all of your CRE Asset Inventory/Portfolio indefinitely without there ever being a charge or cost to you.  <b>Note:</b>  You are encouraged to strategically and periodically update the critical operating data, documents, images, and video on each of your CRE Asset Files.  This is accomplished through your secured and encrypted “My USC Page”.  By doing so, you will always be only ONE <<a>click</a>> away from [<a title="Publishing a Vested or Represented CRE Asset is a one click protocol that results in notifying the full USC Community of Accredited Principals of the availability of said Asset or Portfolio.">Publishing</a>] any one or more of your Portfolio to the <b>US CRE Online</b> Principal Investor and Industry Participant Global Community.
            </li>
            <br />
            <li>
                If and when, at any time, you elect to [<a title="Publishing a Vested or Represented CRE Asset is a one click protocol that results in notifying the full USC Community of Accredited Principals of the availability of said Asset or Portfolio.">Publish</a>] any one or more of your CRE Asset Holdings to the full extent of the US CRE Online Principal Investor and Industry Participant Community, you will then be prompted to electronically execute the USC @Html.ActionLink("Internet Portal Agreement", "ExecuteMDATemplate", "DataPortal") for each said Asset (or grouping of Assets).
            </li>
            <br />
        </ul>
    </li>
    <br />
    <li>
        <span style="color: red; font-weight: bold;">What are the benefits to an Asset Owner in utilizing the services provided by USC?</span>
        <ul>
            <br />
            <li>
                Simple: <span style="color: blue;"><u>increased equity and liquidity in your CRE Holdings.</u></span>
            </li>
            <br />
            <li>
                USC provides, for instant marketing, the largest single combined db of MBA Members, NAR Members, CRE Asset Holders, and Accredited <a title="Principal Investors and CRE Industry Participants">PI</a> online to its Registered Users at the <<a>click</a>> of a button.
            </li>
            <br />
            <li>
                USC provides the most comprehensive, standardized CRE Mortgage Note Data Presentation (all CRE Asset Types) on the Internet… likened to a 24/7 Offering Memorandum… completely controlled, populated, and directed by each Assets Owner… that can be introduced to the <b>Global CRE PI Community</b> at any time so desired by you, and only you… the Asset Owner (accepting duly authorized professional representation of an Assets Owner).
            </li>
            <br />
            <li>
                Until mutual election by participating Principals for more direct correspondence, all communications and document sharing between principals with mutual interests through USC is engaged through highly secured intra-site e mails (likened to the technology of e Bay) to preserve the privacy of each Principal.  Now Asset Owners can, on <u>their</u> respective schedule, build a database of qualified mutual interest PI’s that may have a vesting interest in their respective Asset at some future date… all at the <<a>click</a>> of a button.  This eliminates extended Asset marketing time, and provides a platform for maximizing equities.  USC Registered Asset Owners will no longer have to rely on third parties to effect the liquidity of their holdings.
            </li>
        </ul>
    </li>
</ul>
<p>
    In order for US CRE Online to accept your CRE Asset upload, we shall verify the following requisites:
</p>
<ul>
    <li>
        Our Registrant holds Fee Simple Title interest in the real property;
    </li>
    <br />
    <li>
        If Title is Corporately vested, our Registrant is the proper officer of said Entity to act on the Entity’s behalf;
    </li>
    <br />
    <li>
        Subject real property is held with Clear Title (allowing for normal mortgage liens, and easements of record);
    </li>
    <br />
    <li>
        CRE Asset is uploaded by a duly authorized NAR Member Registrant of USC.
    </li>
</ul>
<p>
    <span style="color: red;">Note</span>: the e-mail address you provide must be valid, as your registration documentation, account approval confirmation, and your “My USC Page” introduction will be e-mailed to the e-mail address you provide.  At any time you may amend your selections through your “My USC Page” once logged in.  Thank you for your Registration.
</p>
<p style="text-align: center">
    [All data fields with a <span style="color: red;">RED</span> asterisk <span style="color: red;">*</span> must be completed to submit the file];
</p>
<div style="text-align: center; vertical-align: central; color:darkblue">
    <p style="color:darkblue;font-size: x-large"><b>Begin Your Commercial Property Data Storage File</b></p>
</div>
@Html.EditorForModel()