@using Postal
@model Inview.Epi.EpiFund.Web.Models.Emails.PrelimConfirmationOrderToTitleCoBuyer
To: @Model.To
From: USCREonline <info@uscreonline.com>
Subject: @Model.Subject 
Content-type: text/html;charset=utf-8

<html>
<body>
<p><img src="http://uscreonline.com/content/images/uscrelogowithbg.png" /></p>
    <table style="width: 100%;">
        <tr>
            <td align="left">To @Model.SelectedTitleCompany</td>
            <td align="right">@Model.Date.ToString("MMMM d, yyyy")</td>
        </tr>
    </table>
    <p><b style="color:darkgoldenrod">US CRE Online.com</b> Recorded Documents & Prelim Title Report Order:</p>
    <table>
        <tr>
            <td width="80"></td>
            <td>
                <table>
                    <tr>
                        <td>Log in to:</td>
                        <td><a href="http://www.uscreonline.com">www.USCREonline.com</a></td>
                    </tr>
                    <tr>
                        <td>Asset ID&#35;:</td>
                        <td>@Model.AssetId</td>
                    </tr>
                    <tr>
                        <td>Property Address:</td>
                        <td>@Model.Address1 @Model.Address2, @Model.City, @Model.State @Model.Zip</td>
                    </tr>
                    <tr>
                        <td>Property Type:</td>
                        <td>@Model.AssetDescription</td>
                    </tr>
                    <tr>
                        <td>APN:</td>
                        <td>@Model.APN</td>
                    </tr>
                    <tr>
                        <td>Ownership:</td>
                        <td>@Model.Ownership</td>
                    </tr>
                    <tr>
                        <td>PI-Buyer:</td>
                        <td>@Model.PIBuyer</td>
                    </tr>
                </table>
            </td>
        </tr>
    </table>
    <p>
        The above captioned <b>Principal Investor</b> &#123;&#34;<b>PI</b>&#34;&#125;
         has contracted &#40;e.g., &#34;Internet Portal &#38 Margin Disclosure Agreement&#34;&#41;
        with &#123;<b style="color:darkgoldenrod"><i>USCREonline.com LLC</i></b>&#125; &#123;&#34;<b style="color:darkgoldenrod"><i>USC</i></b>&#34;&#125;
        as a registered prospective buyer of US CRE, and has formerly indicated vesting interest in the above captioned CRE Asset Data at <a href="http://www.uscreonline.com">www.USCREonline.com</a>.
        Per our relationship with @Model.TitleCompany, please secure and upload to <b style="color:darkgoldenrod"><i>USC</i></b> the 
        <b>Preliminary Title Report</b> and <b>Recorded Documents</b> for the above captioned commercial investment property.
    </p>
    <p>
        for the above captioned commercial investment property.
    </p>
    <table>
        <tr>
            <td width="60"></td>
            <td>
                <p>
                    <b style="color:red">Note</b>: please upload all documents in Adobe Acrobat PDF non-editable Format
                </p>
                <ol>
                    <li>Go to <a href="http://www.uscreonline.com">http://www.uscreonline.com</a> and log in.</li>
                    <li>From your &#91;<b style="color:blue">My USC Page</b>&#93; &#60;click&#62; on the &#91;<b style="color:blue">Manage Assets</b>&#93; hyperlink.</li>
                    <li>&#60;Click&#62; the &#91;<b style="color:blue">Asset ID &#35;</b>&#93; that matches the Asset ID# captioned above.  You will only have access to the DOCUMENT upload page.</li>
                    <li>
                        From the drop down menu, select the applicable document to upload, and &#60;Click&#62; the &#91;<b>&#9675; Data Available</b>&#93; button for each upload:
                        <ul>
                            <li>Preliminary Title Report</li>
                            <li>Senior Lien Position Mortgage</li>
                            <li>Junior Lien Position Mortgage</li>
                            <li>Miscellaneous Lien</li>
                            <li>Other (requires edit/insert of name of document uploaded at the Title window)</li>
                        </ul>
                    </li>
                    <li>At completion of Document Uploads, &#60;Click&#62; the &#91;<b>Save and Submit</b>&#93; blue button.</li>
                    <li>After you have completed Document Uploads for subject Asset ID, press the &#91;F5&#93; keyboard key to refresh your <b style="color:darkgoldenrod"><i>USC</i></b> page</li>
                </ol>
            </td>
        </tr>
    </table>
    <span>
        Upon submitting the Documents to <b style="color:darkgoldenrod"><i>USC</i></b>,
        you will receive a curtesy Thank You e mail from <b style="color:darkgoldenrod"><i>USC</i></b>.
        The @Model.TitleCompany &#123;&#34;<b style="color:darkgoldenrod">My USC Page</b>&#34;&#125;
        <b><u>Record of Uploaded Recorded Documents</u></b> TAB shall then be automatically updated for your billing records.
        Per the terms and conditions of its Service Agreement with <b style="color:darkgoldenrod"><i>USC</i></b>,
        @Model.TitleCompany will receive payment for its defined services according thereto.
    </span>
    <p>
        Thank you for being a valued Registrant and Customer of <i><b style="color:darkgoldenrod">United States Commercial Real Estate Online, LLC</b></i>.  It is our honor and privilege to 
        provide the defined CRE data services to the investment community.
    </p>
    <span>The Professional Staff</span><br />
    <span><b style="color:darkgoldenrod"><i>US CRE Online, LLC</i></b></span>
</body>
</html>